


#menu-bar{
    margin-top:15px;
}


#cadastro{
    padding-left:35px;
}


#btn-salvar-banco,#btn-atualizar-banco{
margin-top:22px;

}


#input-percent{
    margin-top:22px;
}

.item-value{
    text-align: center;
}